<div class="row">
    <div class="col-md-12">

        <div class="portlet light">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Audit Trail</span>
                    <button ng-click="clear_logs()" class="btn btn-danger">Clear logs</button>
                </div>
            </div>
            <div class="portlet-body">
                <ol class="logs">
                    <li class='log' ng-repeat="(key, value) in audit_trails" >
                        <strong>{[{value.user}]}</strong> 
                        {[{value.log}]} 
                        on {[{value.created_at}]}
                    </li>
                    <span ng-show="!audit_trails.length">No record</span>
                </ol>

            </div>
        </div>

    </div>
</div>