<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-dark">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject bold uppercase"> Search Property Name</span>
        </div>
        <div class="tools">
            <a ng-click="hideSearch()" ng-show="!hideForm">
                <span><strong>Hide</strong> search form</span>
                <img src="./assets/vendor/img/portlet-collapse-icon.png" />
            </a>
            <a ng-click="showSearch('yes')" ng-show="hideForm">
                <span><strong>Show</strong> search form</span>
                <img src="./assets/vendor/img/portlet-expand-icon.png" />
            </a>
                
        </div>
    </div>
    <div class="portlet-body" ng-hide="hideForm">
        <form class="form-horizontal" ng-submit="showResult()">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Property ID</label>
                            <div class="col-md-9">
                                <input ng-model="searchdata.id" type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Port</label>
                            <div class="col-md-9">
                                <input ng-model="searchdata.port" type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <div class="row">
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Lot</label>
                            <div class="col-md-9">
                                <input ng-model="searchdata.lot" type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Sec</label>
                            <div class="col-md-9">
                                <input ng-model="searchdata.sec" type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">City</label>
                            <div class="col-md-9">
                                <select ng-model="data_temps.property_city_selected" 
                                        ng-options="item as item.label for item in property_city_options track by item.id" class="form-control" data-placeholder="" tabindex="1">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Unit #</label>
                            <div class="col-md-9">
                                <input ng-model="searchdata.unit" type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Class</label>
                            <div class="col-md-9">
                                <select ng-model="data_temps.property_class_selected" 
                                        ng-options="item as item.label for item in property_class_options track by item.id" class="form-control">
                                </select>
                                <span class="help-block"> </span>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Suburb</label>
                            <div class="col-md-9">
                                <select ng-model="data_temps.property_suburb_selected" 
                                        ng-options="item as item.label for item in property_suburb_options track by item.id" class="form-control" data-placeholder="" tabindex="1">
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                
                <div class="row">
                    <!-- VALUATION -->
                    <div class="col-md-6 col-offset-md-3 price-range-div" ng-show="page_name == 'valuations' || page_name == 'reports'">
                        <div class="form-group">
                            <label class="control-label col-md-3">Price Range (K)</label>
                            <div class="col-md-9">
                                <a ng-hide="temp.enable_price_range" ng-click="temp.enable_price_range = !temp.enable_price_range">Include search on price range filter</a>
                                <div class="pull-left" ng-show="temp.enable_price_range">
                                    From : <br /><input type="text" ng-model="searchdata.price_min" number-input="" />
                                </div>
                                <div class="pull-right" ng-show="temp.enable_price_range">
                                    To : <br /><input type="text" ng-model="searchdata.price_max" number-input="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- SALES -->
                    <div class="col-md-6 col-offset-md-3 price-range-div" ng-show="page_name == 'sales'">
                        <div class="form-group">
                            <label class="control-label col-md-3">Price Range (K)</label>
                            <div class="col-md-9">
                                <a ng-hide="temp.enable_price_range_sales" ng-click="temp.enable_price_range_sales = !temp.enable_price_range_sales">Include search on price range filter</a>
                                <div class="pull-left" ng-show="temp.enable_price_range_sales">
                                    From : <br /><input type="text" ng-model="searchdata.sales_price_min" number-input="" />
                                </div>
                                <div class="pull-right" ng-show="temp.enable_price_range_sales">
                                    To : <br /><input type="text" ng-model="searchdata.sales_price_max" number-input="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- SALES -->
                    <div class="col-md-6 col-offset-md-3 price-range-div" ng-show="page_name == 'rentals'">
                        <div class="form-group">
                            <label class="control-label col-md-3">Price Range (K)</label>
                            <div class="col-md-9">
                                <a ng-hide="temp.enable_price_range_rentals" ng-click="temp.enable_price_range_rentals = !temp.enable_price_range_rentals">Include search on price range filter</a>
                                <div class="pull-left" ng-show="temp.enable_price_range_rentals">
                                    From : <br /><input type="text" ng-model="searchdata.rentals_price_min" number-input="" />
                                </div>
                                <div class="pull-right" ng-show="temp.enable_price_range_rentals">
                                    To : <br /><input type="text" ng-model="searchdata.rentals_price_max" number-input="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Lease Type</label>
                            <div class="col-md-9">
                                <select ng-model="data_temps.property_lease_type_selected" 
                                        ng-options="item as item.label for item in property_lease_type_options track by item.id" class="form-control">
                                </select>
                                <span class="help-block"> </span>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <div class="row">
                    <div class="col-md-6 col-offset-md-3 price-range-div">
                        <div class="form-group">
                            <label class="control-label col-md-3">Area (sqm)</label>
                            <div class="col-md-9">
                                <a ng-hide="temp.enable_area_range" ng-click="temp.enable_area_range = !temp.enable_area_range">Include search on area range filter</a>
                                <div class="pull-left" ng-show="temp.enable_area_range">
                                    From : <br /><input type="text" ng-model="searchdata.area_min" number-input="" />
                                </div>
                                <div class="pull-right" ng-show="temp.enable_area_range">
                                    To : <br /><input type="text" ng-model="searchdata.area_max" number-input="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    
                    <div class="col-md-6 col-offset-md-8">
                        <div class="form-group">
                            <label class="control-label col-md-3">&nbsp;</label>
                            <div class="col-md-9" ng-show="page_name == 'valuations' || page_name == 'sales' || page_name == 'rentals'">
                                <input type="checkbox" name="include_zero" id="include_zero" ng-model="data_temps.include_zero" value="true" />
                                <label for="include_zero" >Include properties with zero {[{page_name}]}</label>
                            </div>
                            <div class="col-md-9" ng-show="page_name == 'reports'">
                                <input type="checkbox" name="include_with_valuation" id="include_with_valuation" ng-model="data_temps.include_with_valuation" value="true" />
                                <label for="include_with_valuation" >Include properties with valuations</label><br />

                                <input type="checkbox" name="include_with_sales" id="include_with_sales" ng-model="data_temps.include_with_sales" value="true" />
                                <label for="include_with_sales" >Include properties with sales</label><br />

                                <input type="checkbox" name="include_with_rentals" id="include_with_rentals" ng-model="data_temps.include_with_rentals" value="true" />
                                <label for="include_with_rentals" >Include properties with rentals</label><br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">&nbsp;</label>
                            <div class="col-md-9">
                                <input ng-click="resetform()" type="button" class="btn btn-warning btn-md" value="Reset Form Fields" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-lg" value="Search" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row" ng-show="multipleResultsReady || resultReady" ng-show="hideForm">
        <!-- <div class="col-md-1"> -->
            <div ui-view="extract-buttons" class="fade-in-up"></div>
        <!-- </div> -->
    </div>
    <div ng-show="multipleResultsReady && multipleResultsShow && multi_property_results" class="reports-container" ui-view="multi-properties-result"></div>
</div>