<div class="row">

    <div class="col-md-12">
    	<div class="portlet light portlet-fit portlet-form bordered">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-gift"></i>{[{ page_title }]}</div>
            </div>
            <div class="portlet-body">

                <!-- BEGIN FORM-->
                <form class="form-horizontal" ng-submit="saveProperty()">
                    <div class="form-body">
                        <h4 ng-show="page_title == 'Edit Property'">Property # {[{params.property_id}]}</h4>
                    	<h3 class="form-section">Property Brief</h3>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Description
                            </label>
                            <div class="col-md-9">
                                <textarea ng-model="data.description" class="wysihtml5 form-control" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="form-group" ng-class="">
                            <label class="control-label col-md-3">Property Owner <span class="required" aria-required="true"> * </span></label>
                            <div class="col-md-4">
                                <input ng-disabled="isReadOnly" ng-model="data.owner" required type="text" class="form-control" placeholder="">
                                <span class="help-block"> </span>
                            </div>
                        </div>
                        <!--/row-->
                        <!-- CALL PROPERTY DETAIL -->
                        <div ui-view="property-detail" name="property-detail" class="fade-in-up"></div>
                        <hr />
                        <div ui-view="valuation-details" name="valuation-details" class="fade-in-up"></div>
                        <div ui-view="sales-details" name="sales-details" class="fade-in-up"></div>
                        <div ui-view="rental-details" name="rental-details" class="fade-in-up"></div>
                        <h3 class="form-section">Attachments</h3>
                        <div class="row">
                        	<div class="col-md-6">
                                <h4>Photo Gallery <sub><i>Max file size : 250kb</i></sub></h4>
                                
                                <div class="dropzone" options="dzOptions" callbacks="dzCallbacks" methods="dzMethods" ng-dropzone></div> <br />

                                <ul class="photo-gallery clearfix">
                                    <li ng-repeat="(key, value) in photos">
                                        <a ng-click="fullImageModal(value)">
                                            <img ng-src="{[{value.file_path}]}" alt="{[{value.file_name}]}" />
                                        </a>
                                        <span>{[{ value.created_at | amDateFormat:'DD-MM-YYYY'}]}</span>
                                        <a class="pull-right" ng-click="removePhoto(key)"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <h4>PDF Gallery</h4>
                                <div class="dropzone" options="dzOptionsPDF" callbacks="dzCallbacksPDF" methods="dzMethodsPDF" ng-dropzone></div> <br />
                                <ul class="pdf-gallery clearfix">
                                    <li ng-repeat="(key, value) in pdfs">
                                        <strong><a ng-href="{[{value.file_path}]}" target="_self" download="{[{value.file_name}]}">{[{value.file_name  | pretty_filename}]}</a></strong>
                                        <a ng-click="removePDF(key)"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn green">Save and Exit</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"> </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>