<div class="row">

    <div class="col-md-12">
    	<div class="portlet  light  portlet-fit portlet-form bordered">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-gift"></i>Sale Details</div>
            </div>
            <div class="portlet-body">

                <!-- BEGIN FORM-->
                <form class="form-horizontal" ng-submit="save()">
                    <div class="form-body">
                        <button class="btn btn-info" ui-sref="sales.list({property_id : data.property_id})"><i class="fa fa-chevron-left"></i> Back</button>
                        <h3 class="form-section">Sale Details <button ng-disabled="isDisabled" type="submit" class="btn green"><i class="fa fa-check" ng-class="{'fa-spinner fa-spin' : isDisabled}"></i> Save</button></h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Date <span class="required" aria-required="true"> * </span></label>
                                    <div class="col-md-9">
                                        <input required ng-model="data.date" class="form-control form-control-inline input-medium date-picker" size="16" type="text" placeholder="" />
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Source <span class="required" aria-required="true"> * </span></label>
                                    <div class="col-md-9">
                                        <input required ng-model="data.source" class="form-control form-control-inline input-medium" type="text" placeholder="" />
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Purchaser <span class="required" aria-required="true"> * </span></label>
                                    <div class="col-md-9">
                                        <input required ng-model="data.purchaser" class="form-control form-control-inline input-medium" type="text" placeholder="" />
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Price <span class="required" aria-required="true"> * </span></label>
                                    <div class="col-md-9">
                                        <input required ng-model="data.price" class="form-control form-control-inline input-medium" type="text" placeholder="" number-input="" />
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Vendor <span class="required" aria-required="true"> * </span></label>
                                    <div class="col-md-9">
                                        <input required ng-model="data.vendor" class="form-control form-control-inline input-medium" type="text" placeholder="" />
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Est Land Value (K) <span class="required" aria-required="true"> * </span></label>
                                    <div class="col-md-9">
                                        <input required ng-model="data.est_land_value" class="form-control form-control-inline input-medium" type="text" placeholder="" number-input="" />
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Est Improvement Value (K)  <span class="required" aria-required="true"> * </span></label>
                                    <div class="col-md-9">
                                        <input required ng-model="data.est_improvement_value" class="form-control form-control-inline input-medium" type="text" placeholder="" number-input="" />
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Est Land Rate (K/sq.m) <span class="required" aria-required="true"> * </span></label>
                                    <div class="col-md-9">
                                        <input required ng-model="data.est_land_rate" class="form-control form-control-inline input-medium" type="text" placeholder="" number-input="" />
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Description</label>
                                    <div class="col-md-9">
                                        <textarea rows="5" class="form-control" ng-model="data.description"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Remarks</label>
                                    <div class="col-md-9">
                                        <textarea rows="5" class="form-control" ng-model="data.remarks"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="form-section">Attachments</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <h4>PDF Gallery</h4>
                                <div class="dropzone" options="dzOptionsPDF" callbacks="dzCallbacksPDF" methods="dzMethodsPDF" ng-dropzone></div>
                                <ul class="pdf-gallery clearfix">
                                    <li ng-repeat="(key, value) in pdfs">
                                        <strong><a ng-href="{[{value.file_path}]}" target="_self" download="{[{value.file_name}]}">{[{value.file_name}]}</a></strong>
                                        <a ng-click="removePDF(key)"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>