<div class="btn-group pull-right" ng-show="role.can_access_reports">
    <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">Export
        <i class="fa fa-angle-down"></i>
    </button>
    <ul class="dropdown-menu pull-right">
        <li>
            <a ng-click="export('csv')">
                <i class="fa fa-file-excel-o"></i> Export to CSV </a>
        </li>
        <li ng-hide="multipleResultsShow">
            <a ng-click="export('pdf')">
                <i class="fa fa-file-pdf-o"></i> Export to PDF </a>
        </li>
        <li>
            <a ng-click="export('excel')">
                <i class="fa fa-file-excel-o"></i> Export to Excel </a>
        </li>
    </ul>
</div>