<div class="row" ng-controller="ReportsController">
    <div class="col-md-12">

        
        <div ui-view="searchform" class="fade-in-up"> </div>
        
        <div class="portlet light bordered" ng-show="resultReady" >
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Property Details of - #{{property_id}}</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body">
                   <div class="reports-container" ui-view="property-details"></div>
                </div>
            </div>
        </div>
        <div ng-show="resultReady" class="reports-container" ui-view="valuation-details"></div>
        <div ng-show="resultReady" class="reports-container" ui-view="sales-details"></div>
        <!-- END EXAMPLE TABLE PORTLET-->

    </div>
</div>