<div class="row reports-page">
    <div class="col-md-12">
        <h3>Reports Page</h3>
        
        <div ui-view="searchform" name="searchform" class="fade-in-up"> </div>
        <p ng-show="resultReady">
            <button class="btn btn-info" ng-click="backToMultiple()"><i class="fa fa-chevron-left"></i> Back</button>
        </p>
        <div class="portlet box blue-hoki property-details" ng-show="resultReady">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings"></i>
                    <span class="caption-subject"> Property Details of - #{[{property_id}]}</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body">
                   <div class="reports-container" ui-view="property-details" name="property-details"></div>
                </div>
            </div>
        </div>

        <div ng-show="resultReady" class="reports-container" ui-view="valuation-details" name="valuation-details"></div>
        <div ng-show="resultReady" class="reports-container" ui-view="sales-details" name="sales-details"></div>
        <!-- END EXAMPLE TABLE PORTLET-->

    </div>
</div>