<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-dark">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject bold uppercase"> Search Property Code</span>
        </div>
        <div class="tools">
            <a ng-click="hideSearch()" ng-show="!hideForm">
                <img src="./assets/vendor/img/portlet-collapse-icon.png" />
            </a>
            <a ng-click="showSearch('yes')" ng-show="hideForm">
                <img src="./assets/vendor/img/portlet-expand-icon.png" />
            </a>
                
        </div>
    </div>
    <div class="portlet-body" ng-hide="hideForm">
        <form class="form-horizontal" ng-submit="showResult()">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Port</label>
                            <div class="col-md-9">
                                <input ng-model="searchdata.port" type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Sec</label>
                            <div class="col-md-9">
                                <input ng-model="searchdata.sec" type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Lot</label>
                            <div class="col-md-9">
                                <input ng-model="searchdata.lot" type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Unit #</label>
                            <div class="col-md-9">
                                <input ng-model="searchdata.unit" type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">City</label>
                            <div class="col-md-9">
                                <select ng-model="data_temp.property_city_selected" 
                                        ng-options="item as item.label for item in property_city_options track by item.id" class="form-control" data-placeholder="" tabindex="1">
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Suburb</label>
                            <div class="col-md-9">
                                <select ng-model="data_temp.property_suburb_selected" 
                                        ng-options="item as item.label for item in property_suburb_options track by item.id" class="form-control" data-placeholder="" tabindex="1">
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Class</label>
                            <div class="col-md-9">
                                <select ng-model="data_temp.property_class_selected" 
                                        ng-options="item as item.label for item in property_class_options track by item.id" class="form-control">
                                </select>
                                <span class="help-block"> </span>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Lease Type</label>
                            <div class="col-md-9">
                                <select ng-model="data_temp.property_lease_type_selected" 
                                        ng-options="item as item.label for item in property_lease_type_options track by item.id" class="form-control">
                                </select>
                                <span class="help-block"> </span>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                
                <div class="row">
                    <div class="col-md-6 col-offset-md-3 price-range-div">
                        <div class="form-group">
                            <label class="control-label col-md-3">Price Range</label>
                            <div class="col-md-9">
                                <div class="pull-left">
                                    From : <br /><input type="text" ng-model="searchdata.price_min" format="number" />
                                </div>
                                <div class="pull-right">
                                    To : <br /><input type="text" ng-model="searchdata.price_max" format="number" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6 col-offset-md-3" ng-show="page_name == 'valuations' || page_name == 'sales'">
                        <div class="form-group">
                            <label class="control-label col-md-3">&nbsp;</label>
                            <div class="col-md-9">
                                <input type="checkbox" name="include_zero" id="include_zero" ng-model="data_temp.include_zero" value="true" />
                                <label for="include_zero" >Include properties with zero {[{page_name}]}</label>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-offset-md-3 price-range-div">
                        <div class="form-group">
                            &nbsp;
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6 col-offset-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-3">&nbsp;</label>
                            <div class="col-md-9">
                                <input ng-click="resetform()" type="button" class="btn btn-warning btn-md" value="Reset Form Fields" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-lg" value="Search" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row" ng-show="multipleResultsReady || resultReady" ng-show="hideForm">
        <!-- <div class="col-md-1"> -->
            <div ui-view="extract-buttons" class="fade-in-up"></div>
        <!-- </div> -->
    </div>
    <div ng-show="multipleResultsReady && multipleResultsShow && multi_property_results" class="reports-container" ui-view="multi-properties-result"></div>
</div>