<div class="row" ng-controller="UserProfileController">
    <div class="col-md-3">
        <div class="profile-sidebar">
            <div class="portlet light profile-sidebar-portlet">
                <div class="profile-userpic">
                    <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&f=y" class="img-responsive" alt=""> </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name"> {{user.name}}</div>
                    <div class="profile-usertitle-job"> {{user.role}} Level</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="portlet light">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#" data-target="#tab_1_1" data-toggle="tab">Personal Info</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_3" data-toggle="tab">Change Password</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_2" data-toggle="tab">Change Avatar</a>
                    </li>
                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <form role="form" action="#">
                            <div class="form-group">
                                <label class="control-label">Email</label>
                                <input ng-model="user.email" type="email" ng-readonly="true" placeholder="" class="form-control" /> </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="tab_1_2">
                        <p> This feature is Coming Soon. </p>
                    </div>
                    <div class="tab-pane" id="tab_1_3">
                        <form ng-submit="frmChangePassword()">
                            <div class="form-group">
                                <label class="control-label">Current Password</label>
                                <input type="password" required ng-model="current_password" class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">New Password</label>
                                <input type="password" required ng-model="new_password" class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">Re-type New Password</label>
                                <input type="password" required ng-model="confirm_new_password" class="form-control" /> </div>
                            <div class="margin-top-10">
                                <input type="submit" value="Change Password" class="btn green-haze" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>