<div class="row">
    <div class="col-md-12">

        <div class="portlet light">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Audit Trail</span>
                </div>
            </div>
            <div class="portlet-body">
                <p><strong>John</strong> logs in 1:11:00 08/08/2017</p>
                <p><strong>Mark</strong> logs in 1:11:00 08/08/2017</p>
                <p><strong>John</strong> changed password.</p>
                <div>
                    <ul class="pagination pagination-sm">
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;"> 1 </a>
                        </li>
                        <li class="active">
                            <a href="javascript:;"> 2 </a>
                        </li>
                        <li>
                            <a href="javascript:;"> 3 </a>
                        </li>
                        <li>
                            <a href="javascript:;"> 4 </a>
                        </li>
                        <li>
                            <a href="javascript:;"> 5 </a>
                        </li>
                        <li>
                            <a href="javascript:;"> 6 </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>