<div class="row" ng-controller="ReportsController">
    <div class="col-md-12">

        
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Search Property Code</span>
                </div>
            </div>
            <div class="portlet-body">

                Form here
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->

    </div>
</div>