<div class="row" ng-controller="UsersController">
    <div class="col-md-12">

        
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Users Management</span>
                </div>
            </div>
            <div class="portlet-body">

                <table class="table table-striped table-bordered table-hover order-column" id="sample_1">
                    <thead>
                        <tr>
                            <th> Property Code </th>
                            <th>  </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX">
                            <!-- <td>
                                <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single">
                                    <input type="checkbox" class="checkboxes" value="1" />
                                    <span></span>
                                </label>
                            </td> -->
                            <td>Admin</td>
                            <td>admin</td>
                            <!-- <td>
                                <button type="button" class="btn btn-primary">Edit</button>
                                <button type="button" class="btn btn-danger">Delete</button>
                            </td> -->
                        </tr>
                        <tr class="odd gradeX">
                            <td>John</td>
                            <td>Agent/Valuer</td>
                        </tr>
                        <tr class="odd gradeX">
                            <td>Mike</td>
                            <td>Data Entry</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->

    </div>
</div>