<div class="row" ng-controller="PropertiesController">
    <div class="col-md-12">
        <h3>Properties Page</h3>
        
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Manage Properties</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <a id="add_new_class" class="btn sbold green" ui-sref="property.new"> Add New Property
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                        <!-- <div class="col-md-6">
                            <div ui-view="extract-buttons" class="fade-in-up"> </div>
                        </div> -->
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover order-column" id="sample_1">
                    <thead>
                        <tr>
                            <th> ID </th>
                            <th> City </th>
                            <th> Lease Type </th>
                            <th> Port/Sec/Lot </th>
                            <th> Suburb </th>
                            <th> Owner </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, value) in properties" class="odd gradeX">
                            <td><a ui-sref="property.edit({property_id:value.id})">{{value.id}}</a></td>
                            <td>{{value.city}}</td>
                            <td>{{value.lease_type}}</td>
                            <td>{{value.port}} / {{value.sec}} / {{value.lot}}</td>
                            <td>{{value.suburb}}</td>
                            <td>{{value.owner}}</td>
                            <td>
                                <a ui-sref="property.edit({property_id:value.id})" type="button" class="btn btn-primary">Edit</a>
                                <button ng-disabled="isDisabled" ng-click="archiveProperty($index, value.id, value.valuations_count, value.sales_count)" type="button" class="btn btn-warning">
                                    Archive
                                </button>
                                <a type="button" ui-sref="property.valuations({property_id:value.id})" class="btn btn-link">Valuations ({{value.valuations_count}})</a>
                                <a type="button" ui-sref="property.sales({property_id:value.id})" class="btn btn-link">Sales ({{value.sales_count}})</a>
                            </td>
                        </tr>
                        <tr ng-show="!properties.length">
                            <td colspan="7">No data.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->

    </div>
</div>