<div class="row" ng-controller="SalesController">
    <div class="col-md-12">

        
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Sales history of Property #{{property_id}}</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group">
                                <a id="add_new_class" class="btn sbold green" ui-sref="property.new"> Add Sales
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover order-column" id="sample_1">
                    <thead>
                        <tr>
                            <th> Date </th>
                            <th> Value </th>
                            <th> Buyer </th>
                            <th> Remarks </th>
                            <th ng-show="hasActions">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, value) in sales" class="odd gradeX">
                            <td>{{value.date}}</td>
                            <td>{{value.value}}</td>
                            <td>{{value.buyer}}</td>
                            <td>{{value.remarks}}</td>
                            <td ng-show="hasActions">
                                <button type="button" class="btn btn-default" ui-sref="sales.details">View Details</button>
                                <button type="button" class="btn btn-primary">Edit</button>
                                <button type="button" class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->

    </div>
</div>