<h3 class="form-section">
    Property Details
    <a ng-show="isReadOnly" class="btn pull-right btn-link" href="#/property/edit-property/{[{params.property_id}]}">Edit Property Detail</a>
</h3>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">Property Name </label>
            <div class="col-md-9">
                <input ng-disabled="isReadOnly" ng-model="data.name" type="text" class="form-control" placeholder="">
                <span class="help-block"> </span>
            </div>
        </div>
    </div>
    <!--/span-->
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">Use <span class="required" aria-required="true"> * </span></label>
            <div class="col-md-9">
                <select ng-disabled="isReadOnly"
                        ng-model="data.property_use_selected" 
                        ng-options="item as item.label for item in property_use_options track by item.id"
                        ng-change="select_change(data.property_use_selected,'data.property_use_selected')" 
                        required class="form-control">
                </select>
                <span class="help-block"> </span>
            </div>
        </div>
    </div>
    <!--/span-->
</div>
<!--/row-->
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">Class <span class="required" aria-required="true"> * </span></label>
            <div class="col-md-9">
                <select required
                        ng-disabled="isReadOnly"
                        ng-model="data.property_class_selected" 
                        ng-options="item as item.label for item in property_class_options track by item.id" 
                        ng-change="select_change(data.property_class_selected,'data.property_class_selected')" class="form-control">
                </select>
                <span class="help-block"> </span>
            </div>
        </div>
    </div>
    <!--/span-->
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">Lease Type <span class="required" aria-required="true"> * </span></label>
            <div class="col-md-9">
                <select required
                        ng-disabled="isReadOnly"
                        ng-model="data.property_lease_type_selected" 
                        ng-options="item as item.label for item in property_lease_type_options track by item.id" 
                        ng-change="select_change(data.property_lease_type_selected,'data.property_lease_type_selected')" 
                        class="form-control">
                </select>
                <span class="help-block"> </span>
            </div>
        </div>
    </div>
    <!--/span-->
</div>
<!--/row-->
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">City <span class="required" aria-required="true"> * </span></label>
            <div class="col-md-9">
                <select required
                        ng-disabled="isReadOnly"
                        ng-model="data.property_city_selected" 
                        ng-options="item as item.label for item in property_city_options track by item.id" 
                        ng-change="select_change(data.property_city_selected,'data.property_city_selected')" 
                        class="form-control" data-placeholder="" tabindex="1">
                </select>
            </div>
        </div>
    </div>
    <!--/span-->
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">Suburb <span class="required" aria-required="true"> * </span></label>
            <div class="col-md-9">
                <select required
                        ng-disabled="isReadOnly"
                        ng-model="data.property_suburb_selected" 
                        ng-options="item as item.label for item in property_suburb_options track by item.id" 
                        ng-change="select_change(data.property_suburb_selected,'data.property_suburb_selected')" 
                        class="form-control" data-placeholder="" tabindex="1">
                </select>
            </div>
        </div>
    </div>
    <!--/span-->
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">Sec</label>
            <div class="col-md-9">
                <input format="number" ng-disabled="isReadOnly || address_option == 'port'"
                        ng-model="data.sec"
                        ng-change="property_set_address_option(1)" type="text" class="form-control" placeholder="">
            </div>
        </div>
    </div>
    <!--/span-->
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">Port</label>
            <div class="col-md-9">

                <input format="number" ng-disabled="isReadOnly || address_option == 'seclot'"
                        ng-model="data.port"
                        ng-change="property_set_address_option(2)" type="text" class="form-control" placeholder="">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!--/span-->
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">Lot</label>
            <div class="col-md-9">
                <input format="number" ng-disabled="isReadOnly || address_option == 'port'"
                        ng-model="data.lot"
                        ng-change="property_set_address_option(1)" type="text" class="form-control" placeholder="">
            </div>
        </div>
    </div>
    <!--/span-->
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">Unit / Office</label>
            <div class="col-md-9">
                <input ng-disabled="isReadOnly"
                        ng-model="data.unit" type="text" class="form-control" placeholder="">
                <br />
                <p><em>Created by</em> : <strong>{[{data.created_by}]}</strong> | <em>Last Edited by</em> : <strong>{[{data.last_edited_by}]}</strong></p>
            </div>
            
        </div>
    </div>
    <!--/span-->
</div>