<div class="row" ng-controller="PropertyNewController">

    <div class="col-md-12">
    	<div class="portlet  light form-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>New Property {{foo}}</div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal" ng-submit="addProperty()">
                    <div class="form-body">
                    	<h3 class="form-section">Property Brief</h3>
                        <div class="row">
                        	<div class="col-md-12">
	                            <div class="form-group">
	                                <label class="control-label col-md-2">Brief Description</label>
	                                <div class="col-md-10">
	                                    <textarea ng-model="data.description" class="wysihtml5 form-control" rows="6"></textarea>
	                                </div>
	                            </div>
                            </div>
                        </div>
                        <!--/row-->
                        <h3 class="form-section">Attachments</h3>
                        <div class="row">
                        	<div class="col-md-6">
                                <h4>Photo Gallery</h4>
                                <div class="dropzone" options="dzOptions" callbacks="dzCallbacks" methods="dzMethods" ng-dropzone></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Valuation PDF file</label>
                                    <div class="col-md-9">
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="input-group input-large">
                                                <div class="form-control uneditable-input span3" data-trigger="fileinput">
                                                    <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                                    <span class="fileinput-filename"> </span>
                                                </div>
                                                <span class="input-group-addon btn default btn-file">
                                                    <span class="fileinput-new"> Select file </span>
                                                    <span class="fileinput-exists"> Change </span>
                                                    <input type="file" name="..."> </span>
                                                <a href="#" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/row-->


                        <!-- CALL PROPERTY DETAIL -->
                        <div ui-view="property-detail" class="fade-in-up"> </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn green">Submit</button>
                                        <button type="button" class="btn default">Cancel</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"> </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>