<div class="row">

    <div class="col-md-12">
    	<div class="portlet light portlet-fit portlet-form bordered">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-gift"></i>{[{ page_title }]}</div>
            </div>
            <div class="portlet-body">

                <!-- BEGIN FORM-->
                <form class="form-horizontal" ng-submit="save()">
                    <div class="form-body">
                        <button class="btn btn-info" ui-sref="rentals.list({property_id : data.property_id})"><i class="fa fa-chevron-left"></i> Back</button>
                        <h3 class="form-section">Rental Details <button ng-disabled="isDisabled" type="submit" class="btn green"><i class="fa fa-check" ng-class="{'fa-spinner fa-spin' : isDisabled}"></i> Save</button></h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Analysed Date <span class="required" aria-required="true"> * </span></label>
                                    <div class="col-md-8">
                                        <input required ng-model="data.analysed_date" class="form-control form-control-inline input-medium date-picker" size="16" type="text" placeholder="" />
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Property #</label>
                                    <div class="col-md-7">
                                        <input disabled class="form-control form-control-inline input-medium" type="text" value="{[{ data.property_id }]}" />
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Analysed Rent (K)<span class="required" aria-required="true"> * </span></label>
                                    <div class="col-md-8">
                                        <input required ng-model="data.analysed_rent" class="form-control form-control-inline input-medium" type="text" value="{[{ data.analyzed_rent | number }]}" format="number" />
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Remarks</label>
                                    <div class="col-md-8">
                                        <textarea rows="5" class="form-control" ng-model="data.remarks"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Qualify Analysed Rent by Area: </label>
                                    <div class="col-md-7">
                                        <select class="form-control form-control-inline input-medium" 
                                                ng-model="data.rental_area_id"
                                                ng-options="area.id as area.title for area in dynamicFields.areas">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Qualify Analysed Rent by Period: </label>
                                    <div class="col-md-7">
                                        <select class="form-control form-control-inline input-medium" 
                                                ng-model="data.rental_period_id"
                                                ng-options="period.id as period.title for period in dynamicFields.periods">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Qualify Rent Review Method: </label>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <select class="col-md-10 form-control form-control-inline" 
                                                    ng-model="data.rental_review_method_id" 
                                                    ng-change="changeRentalMethod()"
                                                    ng-options="review_method.id as review_method.title for review_method in dynamicFields.review_methods">
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <input ng-show="isFixedMethod" ng-model="data.rental_review_method" class="col-md-2 form-control form-control-inline input-small" type="text" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6 col-md-offset-1">
                                <div class="form-group">
                                    <label><input class="control-label" type="checkbox" ng-model="temp.isSoleTenant" /> Check if sole tenant is qualify</label>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="temp.isSoleTenant">
                            <div class="col-md-offset-1">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Total Lease Period (years)</label><br />
                                        <input ng-model="data.total_lease_period" class="form-control form-control-inline input-medium" type="number" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Date Lease commenced</label><br />
                                        <input ng-model="data.date_lease_commenced" class="form-control form-control-inline input-medium date-picker" type="text" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Name of Tenant</label><br />
                                        <input ng-model="data.name_of_tenant" class="form-control form-control-inline input-medium" type="text" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="form-group">
                                    <h4>Inclusions in Rent</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-3">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div ng-repeat="inclusion in temp.inclusions_left">
                                            <input class="control-label" type="checkbox" ng-model="inclusion.isChecked" ng-change="select_inclusion(inclusion)"/> <label class="control-label">{[{ inclusion.title }]}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div ng-repeat="inclusion in temp.inclusions_right">
                                            <input type="hidden" ng-model="data.inclusions_id_json" />
                                            <input class="control-label" type="checkbox" ng-model="inclusion.isChecked"  ng-change="select_inclusion(inclusion)" /> <label class="control-label">{[{ inclusion.title }]}</label>
                                        </div>
                                        <input ng-show="showInclusionOther" ng-model="data.inclusion_other" class="form-control form-control-inline input-small" type="text" style="float:right;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Estimated age of Building (years)</label>
                                    <div class="col-md-8">
                                        <input ng-model="data.age_of_building" class="form-control form-control-inline input-medium" type="number" />
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <h3 class="form-section">Maintenance Rating</h3>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group" ng-repeat="maintenance in dynamicFields.maintenances">
                                    <label class="control-label col-md-4">{[{ maintenance.title }]}</label>
                                    <div class="col-md-8">
                                        <select class="col-md-10 form-control form-control-inline" ng-model="data.maintenances[maintenance.id]">
                                            <option></option>
                                            <option value="1">1 = New </option>
                                            <option value="2">2 = Very Good Condition </option>
                                            <option value="3">3 = Generally Good Condition</option>
                                            <option value="4">4 = Requires Minor Work </option>
                                            <option value="5">5 = Requires Major Work</option>
                                            <option value="6">6 = Beyond economic repair</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>