<div class="row">

    <div class="col-md-12">
    	<div class="portlet light portlet-fit portlet-form bordered">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-gift"></i>{[{ page_title }]}</div>
            </div>
            <div class="portlet-body">

                <!-- BEGIN FORM-->
                <form class="form-horizontal" ng-submit="save()">
                    <div class="form-body">
                        <button class="btn btn-info" ui-sref="rentals.list({property_id : data.property_id})"><i class="fa fa-chevron-left"></i> Back</button>
                        <h3 class="form-section">Rental Details <button ng-disabled="isDisabled" type="submit" class="btn green"><i class="fa fa-check" ng-class="{'fa-spinner fa-spin' : isDisabled}"></i> Save</button></h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Analysed Date <span class="required" aria-required="true"> * </span></label>
                                    <div class="col-md-8">
                                        <input required ng-model="data.date" class="form-control form-control-inline input-medium date-picker" size="16" type="text" placeholder="" />
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Property #</label>
                                    <div class="col-md-7">
                                        <input disabled class="form-control form-control-inline input-medium" type="text" value="{[{ data.property_id }]}" />
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Analysed Rent (K)<span class="required" aria-required="true"> * </span></label>
                                    <div class="col-md-8">
                                        <input disabled class="form-control form-control-inline input-medium" type="text" value="{[{ +data.land_component + +data.improvement_component | number }]}" />
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Remarks</label>
                                    <div class="col-md-8">
                                        <textarea rows="5" class="form-control" ng-model="data.description"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Qualify Analysed Rent by Area: </label>
                                    <div class="col-md-7">
                                        <select class="form-control form-control-inline input-medium"><option>[Choose]</option></select>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Qualify Analysed Rent by Period: </label>
                                    <div class="col-md-7">
                                        <select class="form-control form-control-inline input-medium"><option>[Choose]</option></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Qualify Rent Review Method: </label>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <select class="col-md-10 form-control form-control-inline"><option>[Choose]</option></select>
                                            </div>
                                            <div class="col-md-6">
                                                <input required ng-model="data.area" class="col-md-2 form-control form-control-inline input-small" type="text" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6 col-md-offset-1">
                                <div class="form-group">
                                    <input class="control-label" type="checkbox" /> <label>Check if sole tenant is qualify</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-1">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Total Lease Period (Years)</label><br />
                                        <input class="form-control form-control-inline input-medium" type="text" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Date Lease commenced</label><br />
                                        <input class="form-control form-control-inline input-medium" type="text" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Name of Tenant</label><br />
                                        <input class="form-control form-control-inline input-medium" type="text" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="form-group">
                                    <h4>Inclusions in Rent</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-3">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <input class="control-label" type="checkbox" /> <label class="control-label">Electricity</label><br />
                                        <input class="control-label" type="checkbox" /> <label class="control-label">Janitorial</label><br />
                                        <input class="control-label" type="checkbox" /> <label class="control-label">Internal Maintenance</label><br />
                                        <input class="control-label" type="checkbox" /> <label class="control-label">Garbage Removal</label><br />
                                        <input class="control-label" type="checkbox" /> <label class="control-label">Internet</label><br />
                                        <input class="control-label" type="checkbox" /> <label class="control-label">Security Guards</label><br />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input class="control-label" type="checkbox" /> <label class="control-label">CCTV</label><br />
                                        <input class="control-label" type="checkbox" /> <label class="control-label">Gardens & Lawns</label><br />
                                        <input class="control-label" type="checkbox" /> <label class="control-label">Pool</label><br />
                                        <input class="control-label" type="checkbox" /> <label class="control-label">Parking</label><br />
                                        <input class="control-label" type="checkbox" /> <label class="control-label">Gym</label><br />
                                        <input class="control-label" type="checkbox" /> <label class="control-label">Other (Detail)</label>
                                        <input required ng-model="data.area" class="form-control form-control-inline input-small" type="text" style="float:right;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />




                        <h3 class="form-section">Attachment</h3>
                        <div class="row">
                            <!--/span-->
                            <div class="col-md-6">
                                <h4>PDF Gallery</h4>
                                <div ng-hide="hasFile" class="dropzone" options="dzOptionsPDF" callbacks="dzCallbacksPDF" methods="dzMethodsPDF" ng-dropzone></div>
                                <ul class="pdf-gallery clearfix">
                                    <li ng-repeat="(key, value) in pdfs">
                                        <strong><a ng-href="{[{value.file_path}]}" target="_self" download="{[{value.file_name}]}">{[{value.file_name}]}</a></strong>
                                        <a ng-click="removePDF(key)"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--/row-->
                        
                        <!-- CALL PROPERTY DETAIL -->
                        <div ui-view="property-detail" class="fade-in-up"> </div>
                        <br /><br /><br />
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>