<div class="row">

    <div class="col-md-12">
    	<div class="portlet  light form-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Sale Details</div>
                <ul class="tools pager">
                    <li><a href="#" ui-sref="sales.details">Previous</a></li>
                    <li><a href="#" ui-sref="sales.details">Next</a></li>
                </ul>
            </div>
            <div class="portlet-body form">

                <!-- BEGIN FORM-->
                <form class="form-horizontal" ng-submit="save()">
                    <div class="form-body">
                        
                        <h3 class="form-section">Sale Details <button ng-disabled="isDisabled" type="submit" class="btn green"><i class="fa fa-check" ng-class="{'fa-spinner fa-spin' : isDisabled}"></i> Save</button></h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Sale Date / Date Sold</label>
                                    <div class="col-md-9">
                                        <input ng-model="data.date" class="form-control form-control-inline input-medium date-picker" size="16" type="text" placeholder="" />
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Buyer</label>
                                    <div class="col-md-9">
                                        <input ng-model="data.buyer" class="form-control form-control-inline input-medium" type="text" placeholder="" />
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Remarks</label>
                                    <div class="col-md-9">
                                        <textarea rows="5" class="form-control" ng-model="data.remarks"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Value</label>
                                    <div class="col-md-9">
                                        <input ng-model="data.value" class="form-control form-control-inline input-medium" type="text" placeholder="" />
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="form-section">Attachments</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Photo Gallery</h4>
                                <div class="dropzone" options="dzOptions" callbacks="dzCallbacks" methods="dzMethods" ng-dropzone></div>
                                <ul class="photo-gallery clearfix">
                                    <li ng-repeat="(key, value) in photos">
                                        <img ng-src="{[{value.file_path}]}" alt="{[{value.file_name}]}" />
                                        <a ng-click="removePhoto(key)"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <h4>Valuations PDF files</h4>
                                <div class="dropzone" options="dzOptionsPDF" callbacks="dzCallbacksPDF" methods="dzMethodsPDF" ng-dropzone></div>
                                <ul class="pdf-gallery clearfix">
                                    <li ng-repeat="(key, value) in pdfs">
                                        <strong><a ng-href="{[{value.file_path}]}" target="_self" download="{[{value.file_name}]}">{[{value.file_name}]}</a></strong>
                                        <a ng-click="removePDF(key)"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--/row-->

                        <!-- CALL PROPERTY DETAIL -->
                        <div ui-view="property-detail" class="fade-in-up"> </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>